@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.collection-img {
  width: 100%;
  height: auto; /* garde les proportions */
  object-fit: contain; /* affiche l'image entière sans couper */
  border-radius: 10px; /* optionnel pour arrondir les bords */
}

